.custom-input-data{
    border: none!important;
    outline: none;
    text-align: right;
    -moz-appearance: textfield;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */